
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Password</title>
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  


    <!-- Custom styles for this template -->
<link rel="stylesheet" href="css/login.css" >
  </head>
  <body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">RJBank</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" th:href="@{/}">Home</a>        
        <a class="nav-link" th:href="@{/login}">Login</a>
        <a class="nav-link" th:href="@{/register}">Register</a>
      </nav>
    </div>
  </header>
    <form class="form-signin" action="changePassword" th:action="@{/changePassword}" method="post">
  <h1 class="h3 mb-3 font-weight-normal" id="signInLabel">Change Password</h1>
      <p th:if="*{session.info}" th:text="*{session.info}">Info</p>
  
  <p>Old password</p>
  <input type="password" id="inputPassword" name="oldPassword" class="form-control" placeholder="Password" required>
  <p>New password</p>
  <input type="password" id="inputPassword" name="newPassword1" class="form-control" placeholder="Password" required>
  <p>Confirm new password</p>
  <input type="password" id="inputPassword" name="newPassword2" class="form-control" placeholder="Password" required>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
  
</form>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 RJBank</p>
    
  </footer>
</div>
</body>
</html>
