
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RJBank - Transaction</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  
<link rel="stylesheet" href="css/index.css" >
    
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  	 <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">RJBank</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" th:href="@{/}">Home</a>        
        <a class="nav-link" th:href="@{/login}">Login</a>
        <a class="nav-link" th:href="@{/register}">Register</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Transaction authorized</h1>
    <p class="lead" th:text="'Sender: ' + ${history.sender}"> </p>
    <p class="lead" th:text="'Receiver: ' + ${history.receiver}"> </p>
    <p class="lead" th:text="'Amount: ' + ${history.amount}"> </p>
    <p class="lead" th:text="'Date: ' + ${history.date}"> </p>
    <p class="lead">
      <a th:href="@{/home}" class="btn btn-lg btn-secondary">Go to home page</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    	<p class="mb-1">&copy; 2019 RJBank</p>
    </div>
  </footer>
</div>
</body>
</html>
